import { mdiRobotDead   } from '@mdi/js'

<div class="zs-500-overlay">
    <div>
        <span class="icon zs-500-icon">
            <svg
                viewBox="0 0 24 24"
                width="64"
                height="64"
                xmlns="http://www.w3.org/2000/svg">
                <path d=mdiRobotDead/>
            </svg>
        </span>
    </div>
</div>
